<div class="products-wrapper">
  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Product Name
      </h5>
      <p class="card-text">
        Product Description
      </p>
    </div>
  </div>

  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Product Name
      </h5>
      <p class="card-text">
        Product Description
      </p>
    </div>
  </div>

  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Product Name
      </h5>
      <p class="card-text">
        Product Description
      </p>
    </div>
  </div>

  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Product Name
      </h5>
      <p class="card-text">
        Product Description
      </p>
    </div>
  </div>

  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Product Name
      </h5>
      <p class="card-text">
        Product Description
      </p>
    </div>
  </div>

  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Product Name
      </h5>
      <p class="card-text">
        Product Description
      </p>
    </div>
  </div>
</div>